.landing-container {
  position: relative;
  z-index: 1;
  top: 20%;
  left: 10%;
  border-radius: 20px;
  background-color: black;
  border: 4px dashed #acc125;
  width: 80%;
  min-height: 300px;
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 30px;
  flex-direction: column;
}
