.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.button.approve {
  background-color: green;
  border: 2px inset rgb(4, 57, 8);
}

.button.decline {
  background-color: red;
  border: 2px inset rgb(142, 24, 24);
}