.nav-container {
  position: absolute;
  left: 10%;
  top: 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: 25px 10px;
}

.nav-container h1 {
  margin: 0;
  color: #acc125;
  cursor: default;
}